<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <title>Italian Food</title>
</head>

<body>

    <header>


        <nav class="navbar">
            <ul>
                <li> <a href="#home"><a> HOME</li>

                <li> <a href="#menu"><a> MENU</li>

                <li> <a href="#story"><a>OUR STORY</li>

                <li> <a href="#contact"><a>CONTACT</li>

            </ul>
            <input type="text" placeholder="Search..                  &#128269" id="searchbar">

        </nav>




    </header>


    <!--  -->


    <div class="banner">
        <div class=" hero-text">
            <img src="../src/logo.png" alt="logo" id="logo">

            <h1 id="titlename">Web Dev Restaurant</h1>
            <h3 id="subtitle">SPAGHETTI CODE</h3>
            <button class="button-white" id="read-more">
                READ MORE
            </button>
            <p class="hero-descripion">
                "Experience the authentic taste of Italian food with every bite at Web Dev Restaurant!"
            </p>


        </div>

        <div class="hero-images">

            <div>
                <img src="../src/spaghetti-1.png" alt="Our Spaghetti alla carbonara" id="banner-carbonara">
            </div>
            <div>
                <img src="../src/basilico-1.png" alt="Our Spaghetti alla carbonara" id="banner-basilico">
            </div>
            <div>
                <img src="../src/spice-1.png" alt="Our Spaghetti alla carbonara" id="banner-spice">
            </div>
        </div>




    </div>






    <!-- Alina Start -->
    <div class="container">
        <div id="dishes">
            <h2>Traditional Italian Food</h2>
            <p> Welcome to our authentic Italian restaurant!
                </br>
                Experience the true taste of Italy in a cozy
                and warm atmosphere
                that will make you feel right at home.
            </p>

            <div>
                <ul class="noodle-list">
                    <li>
                        <img class="noodle-pic" src="../src/spaghetti-2.png" alt="Bolognese">
                        <h3>Bolognese</h3>
                        <p>Spaghetti bolognese consists of spaghetti with meat
                            sauce and tomatoes, served with Parmesan cheese. Spaghetti bolognese is one of the
                            most popular pasta dishes eaten
                            outside of Italy.</p>
                    </li>
                    <li>
                        <img src="../src/spaghetti-4.png" alt="Carbonara">
                        <h3>Carbonara</h3>
                        <p>Carbonara is a Roman pasta dish made with eggs, hard cheese, cured pork and black
                            pepper.
                            The dish took its modern form and name in the middle of the 20th century.</p>
                    </li>
                    <li>
                        <img src="../src/spaghetti-3.png" alt="Calabrese">
                        <h3>Napoli</h3>
                        <p>Pasta Napoli is a classic italian dish of spaghetti served with a basic tomato-based sauce.
                            Outside Italy, the basic sauce is vegetarian. We offer it with or without meat.
                        </p>
                    </li>
                </ul>
            </div>
            <button class="button-black">OUR MENU</button>
        </div>
    </div>

    <div class="container">
        <div id="moreinfo">
            <div class="moreinfo-wrapper">
                <h2>Ingredients</h2>
                <div class="ingredients">
                    <p>
                        Welcome to our traditional Italian restaurant, where we pride ourselves on using only the
                        freshest and most
                        natural ingredients in
                        our dishes. We believe that food should not only be delicious but also healthy, and that is why
                        we grow many of our
                        ingredients ourselves. We use only the finest quality produce, herbs, and spices, all of which
                        are grown without any
                        artificial fertilizers or pesticides. Our commitment to using natural and self-grown ingredients
                        means that our dishes are not only
                        full of flavor but also
                        bursting with nutrients.
                    </p>
                    <p>
                        We believe that by using fresh, locally sourced ingredients, we can
                        create authentic Italian
                        dishes that are both healthy and delicious. Whether you're a fan of classic pasta dishes or
                        prefer something a little more contemporary, you can be sure that all of
                        our dishes are made with the utmost care and attention to detail. So come and join us for a true
                        taste of Italy, made
                        with love and the freshest natural ingredients.
                    </p>
                </div>
                <button class="button-white"> MORE INFO</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="discount">
            <div class="discount-1">
                <img src="../src/spaghetti-6.png" alt="Carbonara">
                <div class="discount-text">
                    <h5>Discount up to 50% all Pasta specialties</h5>
                    <p>Carbonara is a Roman pasta dish made with eggs, hard cheese, cured pork and black
                        pepper.
                        The dish took its modern form and name in the middle of the 20th century.</p>
                    <button class="button-black">OUR MENU</button>
                </div>
            </div>
            <div class="discount-2">
                <div class="discount-text">
                    <h5>January's Promo: Buy 1 get 1 free!</h5>
                    <p>Carbonara is a Roman pasta dish made with eggs, hard cheese, cured pork and black
                        pepper.
                        The dish took its modern form and name in the middle of the 20th century.</p>
                    <button class="button-black">OUR MENU</button>
                </div>
                <img src="../src/spaghetti-5.png" alt="Carbonara">
            </div>
        </div>
    </div>
    <!-- Alina Ende -->
    <!-- Mo beginnt hier -->
    <!--  First Section -->
    <div class="container">
        <div id="pizza">

            <img src="../src/Basilico-3.png" class="basilicopic1" width="309px" height="414px">


            <div class="text">
                <h2>Mamaa Miaa Pizza</h2>
                <br><br><br><br><br>
                <p>We take pride in our homemade pizza, made from scratch with only the freshest and highest quality
                    ingredients. Our pizza
                    dough is handcrafted daily and cooked to crispy perfection in our wood-fired oven, ensuring an
                    authentic Italian taste
                    with every bite.
                </p>
                <div class="line"></div>

                <img src="../src/Basilico-2.png" class="basilicopic2" width="261px" height="667px">

            </div>
            <img src="../src/pizza.png" class="pizzapic">


        </div>

        <div class="text2">
            <div class="firstsectionpizza">
                <h3>Ingredients</h3>
                <br><br>
                <p> and the toppings are always generously distributed. The crust is perfectly crispy on the outside,
                    but soft and chewy on the inside, making for a deliciously satisfying pizza experience. The sauce is
                    also homemade and bursting with flavor, which enhances the overall taste of the pizza.

                </p>
            </div>
            <div class="firstsectionpizza">
                <h3>Another reason</h3>
                <br><br>
                <p> why Mama Mia Pizza is the best is the variety of options available on the menu. Whether you're in
                    the mood for a classic margherita pizza or something more adventurous like a BBQ chicken pizza, Mama
                    Mia has got you covered. The menu also includes a range of appetizers, salads, and pasta dishes, all
                    made with the same high-quality ingredients and attention to detail.

                </p>
            </div>
            <div class="firstsectionpizza">
                <h3>Lastly</h3>
                <br><br>
                <p> Mama Mia Pizza has a cozy and welcoming atmosphere that makes it a great place to dine in. The
                    restaurant is decorated with colorful murals and has plenty of seating options, including booths and
                    tables for larger groups. The staff is friendly and attentive, making sure that every customer feels
                    taken care of and satisfied with their experience.

                </p>

                
            </div>
        </div>
        
        <br><br><br><br>
        <div class="text5">
            <p>Overall, Mama Mia Pizza is the best because of its delicious, high-quality pizza, varied menu options,
                and inviting atmosphere. It's the perfect spot for a casual dinner with friends or a family outing, and
                once you try their pizza, you'll never want to go anywhere else.
            </p>
        </div>


    </div>


    </div>
    <!--  Second Section -->
    <div class="container">
        <div id="reviews">
            <img src="../src/basilico-small-1.png" class="reviewspic">
            <img src="../src/basilico-small-1.png" class="reviewspic2">
            <div class="text3">
                <h2>Recepts Magazine</h2>
                <br><br><br>
                <p class="Snoopdog">One, two, three and to the fo'
                    Snoop Doggy Dogg and Dr. Dre is at the do'
                    Ready to make an entrance, so back on up<br>
                    'Cause you know we're 'bout to rip, shit up
                    Gimme the microphone first, so I can bust like a bubble
                    Compton and Long Beach together, now you know you in trouble
                    Ain't nuttin' but a G thang, baby, two loc'ed out niggaz so we're crazy</p>
                <br>
                <input class="search" type="text" placeholder="Enter your Email">
                <label for="search" class="label">Subscribe</label>
            </div>
        </div>
    </div>
    <!-- Mo endet hier -->



    <footer>
        <div class="footer-elmt" id="footer-elmt0">
            <h4>Web Dev Restaurant</h4>
            Thank you for dining with us at Web Dev Restaurant, where we specialize in authentic Italian cuisine and
            delicious pizza. We are dedicated to providing our guests with an exceptional dining experience, featuring
            fresh, high-quality ingredients and excellent service. Come back soon and let us delight your taste buds
            again!
            <br />

            <div class="social-media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-watsapp"></i></a>
            </div>

        </div>

        <div class="footer-elmt" id="footer-elmt1"">
            <ul>
                <h4>
                    About
                </h4>
                <li>
                    History
                </li>
                <li>
                    Our Team
                </li>
                <li>
                    Brand Guidelines
                </li>
                <li>
                    Terms & Condition
                </li>
                <li>
                    Privacy Policy
                </li>

            </ul>
        </div>

        <div class=" footer-elmt" id="footer-elmt2">
            <ul>
                <h4>
                    Services
                </h4>
                <li>
                    How to Order
                </li>
                <li>
                    Our Product
                </li>
                <li>
                    Order Status
                </li>
                <li>
                    Promo
                </li>
                <li>
                    Payment Methods
                </li>

            </ul>
        </div>

        <div class="footer-elmt" id="footer-elmt3">
            <ul>
                <h4>
                    Other
                </h4>
                <li>
                    Contact us
                </li>
                <li>
                    Help
                </li>
                <li>
                    Privacy
                </li>


            </ul>
        </div>
    </footer>

</body>

</html>